/* reset.css */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Gives the body element a parent height to compare against */
html {
    height: 100%;
}

body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

/* Matches the font of special elements to the rest of the page */
input, select, option, optgroup, textarea, button,
pre, code {
    font-size: 100%;
    font-family: inherit;
}

/* Removes default bullet points from lists */
/* ol, ul {
    list-style: none;
} */

a {
    text-decoration: none;
}

/* custom css */

/* * {
    border: 1px solid;
} */

body {
    background-image: url(../images/TRINIDAD.JPG);
}

img {
    height: 250px;
    width: 250px;
}

.page-body {
    padding: 30px
}

.text-background {
    background-color: #f7dfc0ff;
    font-size: 20px;
    line-height: 1.25em;
}

.title {
    font-family: fantasy, sans-serif;
    width: fit-content;
    font-size: 40px;
    padding: 10px 10px 0;
    border: 5px solid;
    margin-bottom: 5px;
}

.text {
    margin: 0.5rem 0;
    border: 5px solid;
    width: fit-content;
}

#portfolio-title {
    margin-top: 30px;
    margin-left: 30px;
}

#projects-body {
    display: flex;
    flex-wrap: wrap;
}

.project-pic {
    width: 50%;
    text-align: center;
    margin: 10px 0;
}

/* need to add this or else a small blue border will appear behind the image*/
.project-pic a {
    border: none;
}

.project-pic img {
    height: 215px;
    width: 215px;
    border: none; /* adding this to remove blue border */
}

.project-pic img:hover {
    border: 5px solid #abc06cff;
    opacity: .9;
}

.page-body div {
    margin: 10px 0;
}

li, h3, div h2 {
    padding: 5px;
}

span {
    text-decoration: underline #abc06cff;
    color: #abc06cff;
    font-weight: bolder;
}

span:hover {
    cursor: pointer;
}

nav {
    background-color: #abc06cff;
    display: flex;
}

.active-link {
    font-weight: bolder;
    border: 3px solid;
    padding: 10px;
    color: #f7dfc0ff;
}

.non-active-link {
    padding: 10px;
    color: #f7dfc0ff;
    border: 3px solid #abc06cff;
}

#my-name {
    margin: 10px;
}